@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   html {
    @apply scroll-smooth;
  }

  :focus-visible {
    @apply focus-visible:ring-2 focus-visible:outline-none focus-visible:ring-offset-base-800 focus-visible:ring-offset-2 focus-visible:ring-primary-500;
  }
}

.cursor {
  @apply border border-primary-500;
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    @apply border-primary-500;
  }
}

.line-highlighting .line {
  @apply opacity-50;
}

.line-highlighting .highlighted {
  @apply bg-base-700/50 opacity-100;
  transition: background-color 0.5s;
  margin: 0 -24px;
  padding: 0 24px;
  width: calc(100% + 48px);
  display: inline-block;
}

.Typewriter__cursor {
  @apply text-primary-500;
}