body {
  padding: 1.5rem;
  font-family: Inter, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.callout {
  border: 4px salmon solid;
  padding: 0 1rem;
}